window.onload = function() {    
    var List = React.createClass({
        render: function() {
          return (
            <div>
              {this.props.list.map( post =>
                <div id="main" className={post.id}>
                    <div className="card">
                      <img className="card-img-top" src="https://placehold.it/350x150" alt="Card image cap" />
                      <div className="card-block">
                        <h4 className="card-title">{ post.title }</h4>
                        <p className="card-text">{ post.body }</p>
                        <button type='button' id="contactbtn" className="btn btn-primary"> Yes, I'm Interested </button>
                        <button type='button' className="btn btn-danger"> No, Skip </button>
                      </div>
                    <div className="card" id="contact">
                        <ul className="list-group">
                          <li className="list-group-item"> {post.website}</li>
                        </ul>
                        <button type='button' id="skip" className="btn btn-warning">Next</button>
                      </div>
                    </div>
                </div>
              )}
            </div>
          )
        }
      });
    var Playlist = React.createClass({
      render() {
        return (
            <List list={post} />
        )
      }
    });
    
    ReactDOM.render(
      <Playlist/>, 
      document.getElementById('container')
    );
    function next(counter)
    {
      $("."+ counter).hide();
      counter++;
      $("." + counter).fadeIn();
      $("#contact").hide();    
    };
    
    $("#contact").hide();
    var counter = 1;
    $( "#contactbtn" ).click(function() 
    {
        $("#contact").fadeIn();
    });
    
    $( "#skip" ).click(function() 
    {
        next(counter);
    });
    $( ".btn-danger" ).click(function() 
    {
        next(counter);
    });
    for(var z = 3; z > counter; z--)
    {
        $("." + z).hide();
    }

};